{{ if site.Data.homepage.blog.enable}}
<section id="blog" {{ if site.Data.homepage.blog.overlay }} class="overlay" {{ end }}
	style="background-image: url('{{ site.Data.homepage.blog.bg_image | absURL }}');">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="heading">{{ site.Data.homepage.blog.title | markdownify }}</h1>
					{{ $paginator := .Paginate site.RegularPages }}
					{{ range first 4 (where site.RegularPages "Type" "in" site.Params.main_sections) }}
					<div class="col-lg-6">
						<article class="post wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
							<div class="post-img">
								<img src="{{ .Params.Image | absURL }}" alt="post-image" class="img-responsive">
							</div>
							<div class="post-content">
								<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
								<p>{{ .Summary }}</p>
							</div>
						</article>
					</div>
					{{ end }}
					<div class="text-center">
						<a href="/post" class="btn btn-default">All Post</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- #blog close -->
{{end}}